@keyframes color {
    0% {
        background: #ff0000;
    }

    33% {
        background: #00ff00;
    }

    66% {
        background: #0000ff;
    }

    100% {
        background: #ff0000;
    }


}

body {
    animation: color 9s infinite linear;
}

.fancy {
    font-size: 2rem; 
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}